.header-container {
  display: flex;
  justify-content: space-between;
  background-color: coral;
  box-shadow: 10px 10px lightblue;
}

.logoImg {
    width: 150px;
}

.nav-items > ul {
    display: flex;
    list-style-type: none;
}
.nav-items {
    padding: 10px 20px;
}

.nav-items > ul > li {
    margin: 10px;
    padding: 10px;
    font-size: large;
}

.filter-btn {
    margin: 20px;
    cursor: pointer;
}

.card-text {
    text-align: center;
}

.rest-container:hover {
    box-shadow: 10px 10px wheat;
    cursor: pointer;
}

.foodCard-container {
    display: flex;
    flex-wrap: wrap;
}

.rest-container {
    width: 300px;
    height: 450px;
    margin: 15px;
    padding: 15px;
    border-radius: 5px;
    background-color: coral;
    box-shadow: 10px 10px lightblue;
}

.food-cardImg {
    width: 100%;
    height: 40%;
}

.shimmer-container {
    display: flex;
    flex-wrap: wrap;
}

.shimmer-card {
    width: 300px;
    height: 450px;
    margin: 15px;
    background-color: #f0f0f0;

}

.loginBtn {
    padding: 0 20px;
    height: 40px;
    margin: 10px 0 0 0;
}